.notification {
  @extend %navigation;

  display: flex;
  align-items: center;

  // .notification__list

  &__list {
    display: flex;
    align-items: center;
  }

  // .notification__item

  &__item {
    margin-left: 16px;
    position: relative;
    height: 22px;
    cursor: pointer;

    &:last-child {
      padding-left: 12px;
      border-left: 1px solid var(--separators-color);
    }

    &:hover .notification__img {
      fill: var(--button-active-color);
    }
  }

  // .notification__link

  &__link {
    display: flex;
    align-items: center;
  }

  // .notification__img

  &__img {
    fill: var(--header-icons-color);
  }

  // .notification__count

  &__count {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #f5222d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    position: absolute;
    top: -50%;
    left: 50%;

    // .notification__count_empty

    &_empty {
      display: none;
    }

    // .notification__count_info

    &_info {
      left: 40%;
    }
  }
}
