.search {
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background-color: white;
  // .search__form

  &__form {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  // .search__input

  &__input {
    padding: 5px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 22px;
    color: #bfbfbf;
    width: 100%;
    height: 100%;
    border: none;

    &:focus {
      outline: none;
    }
  }

  // .search__button

  &__button {
    width: 30px;
    height: 100%;
    background-image: url("./img/search.svg");
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-color: white;

    &:hover {
      background-color: rgb(219, 219, 219);
    }
  }
}
