.content-placement {
  height: calc(100vh - 48px);
  display: grid;
  grid-template-columns: 192px 1fr 384px;
  grid-gap: 18px;
  padding-top: 15px;
}

.content-block {
  background: #ffffff;
  box-shadow: 0px 2px 8px var(--shadow-color);
  border-radius: 4px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  // .content-block__title

  &__title {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
  }
}

.content-title {
  display: flex;
  gap: 12px;

  // .content-title__image

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
    width: 48px;
    height: 48px;

    a,
    img {
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }

  // .content-title__body

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
  }

  // .content-title__primary

  &__primary {
    font-size: 14px;
    line-height: 22px;
    color: var(--main-theme-color);
    font-weight: bold;
    margin: 0;

    a {
      text-decoration: none;
      color: var(--main-theme-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .content-title__secondary

  &__secondary {
    font-size: 14px;
    line-height: 22px;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
  }
}
