.user-link {
  display: flex;
  align-items: center;

  // .user-link__photo

  &__photo {
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    // .user-link__photo_menu-sidebar

    &_menu-sidebar {
      width: 24px;
      height: 24px;
    }
  }

  // .user-link__text

  &__text {
    margin-left: 8px;
  }
}
