$tablet: 920px;
$mobile: 660px;

:root {
  --background-color: #f5f5f5;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --button-active-color: white;
  --separators-color: #003a8c;

  --header-icons-color: #0006;
  --header-text-color: white;

  --main-theme-color: #0050b3;
  --secondary-theme-color: #1890ff;
  --main-text-color: #595959;
  --secondary-text-color: #8c8c8c;
  --accent-text-color: #262626;
}




// @media screen and (max-width: $tablet) {}
// @media screen and (max-width: $mobile) {}