* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display";
  background-color: var(--background-color);
}

a {
  color: var(--secondary-theme-color);

  &:visited {
    color: var(--secondary-theme-color);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1206px;
  margin: 0 auto;
}

.icon {
  max-width: 20px;
  max-height: 20px;
}
