.aside {
  width: 100%;
}

.header-stories {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // .header-stories__title

  &__title {
    color: var(--accent-text-color);
  }

  // .header-stories__options

  &__options {
    display: flex;
    align-items: center;
  }

  // .header-stories__title-icon

  &__title-icon {
    width: 16px;
    height: 15px;
    fill: var(--main-theme-color);
    margin-right: 4px;
  }

  // .header-stories__options-link

  &__options-link {
    color: var(--main-theme-color);
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.stories {
  padding: 16px;
  padding-left: 24px;

  // .stories__header

  &__header {
    margin-bottom: 16px;
  }

  // .stories__list

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  // .stories__item

  &__item {
    margin-bottom: 16px;
  }

  // .stories__image

  &__image {
    width: 48px;
    height: 48px;
    border: 3px solid var(--secondary-theme-color);
    border-radius: 50%;
    flex-shrink: 0;

    // .stories__image_plus

    &_plus {
      border: 1px solid var(--secondary-theme-color);
      background-color: #f5f5f5;

      &:hover {
        background-color: #e2e2e2;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      svg {
        fill: var(--secondary-theme-color);
      }
    }
  }

  // .stories__see-more

  &__see-more {
    width: 150px;
  }
}

.content-notification {
  padding: 18px;
  // .content-notification__item

  &__item {
    display: flex;
    align-items: center;
  }

  // .content-notification__item-icon

  &__item-icon {
    fill: var(--secondary-theme-color);
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  // .content-notification__text

  &__text {
    font-size: 14px;
    line-height: 22px;
  }

  // .content-notification__link

  &__link {
    font-size: 16px;
    line-height: 22px;
    color: var(--main-theme-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.fanpage {
  // .fanpage__header

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  }

  // .fanpage__body

  &__body {
    padding: 16px;
  }
  // .fanpage__main

  &__main {
    margin-bottom: 16px;
  }

  // .fanpage__notification

  &__notification {
    padding-top: 4px;
  }

  // .fanpage__content

  &__content {
    padding-top: 16px;
    text-align: center;
  }

  // .fanpage__content-count

  &__content-count {
    font-size: 24px;
    line-height: 32px;
    color: var(--accent-text-color);
  }

  // .fanpage__content-text

  &__content-text {
    font-size: 14px;
    line-height: 22px;
    color: var(--secondary-text-color);
  }
}

.fanpage-notification {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  // .fanpage-notification__item

  &__item {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  // .fanpage-notification__icon

  &__icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    fill: var(--accent-text-color);
  }

  // .fanpage-notification__item-text

  &__item-text {
    font-size: 14px;
    line-height: 22px;
    color: var(--secondary-text-color);
  }

  // .fanpage-notification__item-count

  &__item-count {
    margin-left: 4px;
    font-size: 12px;
    line-height: 20px;
    padding: 1px 7px;
    background: #f5f5f5;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
