.header {
  background-color: var(--header-background-color);
  padding-top: 8px;
  padding-bottom: 8px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3px;
    padding-right: 6px;
  }

  &__navigation {
    display: flex;
    color: var(--header-text-color);

    a {
      color: var(--header-text-color);
    }

    &-item {
      font-size: 14px;
      line-height: 22px;
      font-weight: 600;
      padding-left: 12px;
      padding-right: 12px;
      height: 22px;
      border-right: 1px solid var(--separators-color);
    }
  }

  &__user-link {
    margin-top: -6px;
  }
}
